@model List<ImageByEvent.Models.HomeModel>

@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Image By Event - GettyImages Search</title>
    <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js"></script>
    <script src="~/Content/js/tipr.min.js"></script>
    <link href='http://fonts.googleapis.com/css?family=Yanone+Kaffeesatz' rel='stylesheet' type='text/css'>
    <link href="~/Content/css/site.css" rel="stylesheet" />
    <link href="~/Content/css/tipr.css" rel="stylesheet" />
</head>
<body id="body">
   
        <div id="mainBody">
           
            <div class="box">
                <span class="note" style="font-size:30px;">Event Viewer - Image Search</span>
              @*  <form class="form-wrapper cf">
                    <input id="searchGettyInputBox" type="text" placeholder="Search here..." required>
                    <button id="searchGetty" type="submit">Search</button>
                </form> *@
                @*<span class="note">
                    Each square represents images of a particular Event using the most dominant color of that image. 
                    Upon hover the original image and it's description
                    can be viewed.
                </span>*@
                <br /><br />
                <span class="note">
                    <span>github @@ <a target="_blank" href="http://github.com/karthik20522">karthik20522</a></span>
                    <span style="padding-left:12px;padding-right:8px;">|</span>
                    <span>blog @@ <a target="_blank" href="http://kufli.blogspot.com">kufli.blogspot.com</a></span>
                    <br />
                    <span>Images from <a href="http://www.gettyimages.com">GettyImages</a></span>
                    <span style="padding-left:5px;padding-right:8px;">|</span>
                    <span>ConnectAPI <a target="_blank" href="http://github.com/gettyimages">documentation</a></span>      
                    <br /><br />
                    <span>Blog article <a href="http://kufli.blogspot.com/2013/10/event-viewer-image-search.html">Event Viewer</a></span>              
                </span>
            </div>
               @foreach (var imgGrp in Model)
               {
                    <div class="box">
                        @foreach (var img in imgGrp.ImageDetails)
                        {
                            <div data-tip="<a href='http://gty.im/@img.ImageId' target='_blank'><img class='orImg' src='@img.Thumbnail' /></a>" class="smallBox">
                                <div class="part" style="background-color:@img.DominantColor[0]"></div><div class="part" style="background-color:@img.DominantColor[1]"></div><div class="part" style="background-color:@img.DominantColor[2]"></div><div class="part" style="background-color:@img.DominantColor[3]"></div>
                            </div>
                        }
                        <span class="note">
                            <a style="color:white;" href="#">@imgGrp.EventName</a>
                        </span>        
                    </div>   
               }
            </div>
        
    <script src="~/Content/js/search.js"></script>
</body>
</html>
